.coin_chart{
    flex: 0 0 80%; 
    width: 100%;   
    border: 1px solid gray;
}

.select_options {
    display: flex;
    margin: 10px;
    justify-content: flex-start;
    align-items: center;
}

.volume_btn {
    margin-right: 15px;
    width: 100px;
    height: 30px;
    background-color: transparent;
    border-radius: 10px;
    border-color: gray;
}