.coin_chart{
    flex: 0 0 80%; 
    width: 100%;   
    border: 1px solid gray;
}

.chart_select_options {
    display: flex;
    margin: 10px;
    justify-content: flex-start;
    align-items: center;
}

.chart_select_options >* {
    margin-right: 10px;
    height: 25px;
}

.datetime, .chart {
    height: 25px;
}